<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button  class="headerButtonColors">
          <ion-icon  color='blue'name="menu-outline"></ion-icon>
    </ion-button>

    <ion-title >
    </ion-title>
    <ion-button  class="headerButtonColors" slot="end">
          <ion-icon color="red" name="person-add-outline"></ion-icon>

    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="parent">
    <p class="introText">Hey Aditya</p>
    <p class="courseText">Find a course you want to learn</p>
  </div>
</ion-content>
