// $ion-color-primary: null;
$ion-color-secondary: null;
$ion-color-tertiary: null;
$ion-color-success: null;
$ion-color-warning: null;
$ion-color-danger: null;
$ion-color-dark: null;
$ion-color-medium: null;
$ion-color-light: null;